@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Bebas Neue', cursive;

}

body {
  margin: 0;
  min-height: 100vh;
  background-color: whitesmoke;
}
h1{
  text-align: center;
  margin: 2rem 0;
  font-size: 40px;
  letter-spacing: 4px;
}
.loader{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255,255,255, 0.8);

}
.loader img{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.image-container{
  width: 100%;
  display: flex;
 
  justify-content: center;
  flex-wrap: wrap;
}
.image-container a{
  width: 32%;
  height: auto;
  margin: .5rem;
}
.image-container a img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width:800px){
  h1{
    font-size: 25px;
  }
  .image-container{
    margin: 10px;
  }
  .image-container a{
    width: 90%;
  }
}
